<!DOCTYPE html>  
<html>  
  
<head>  
    <title>Notes</title>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.30/angular-ui-router.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.6/ui-bootstrap-tpls.min.js"></script> 
    <script src="./app.js"></script>  
    <script src="./login/loginController.js"></script>  
    <script src="./login/loginService.js"></script>
    <script src="./notes/notesController.js"></script>  
    <script src="./notes/notesService.js"></script>  
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

</head>  
  
<body ng-app="MyApp"> 
    <nav ng-if="isLogedIn" class="navbar navbar-light bg-light justify-content-between" style="border-bottom: 1px dashed gray;">
        <a class="navbar-brand">Notes</a>
        <form style="margin-left: 90em; ">
            <a ui-sref="/login" class="btn btn-outline-danger active" role="button" ng-click="isLogedIn=false;">logout</a>
        </form>
      </nav> 
    <div ui-view></div>
</body>  
  
</html> 