
    <div  ng-controller="LoginController">  
        <form name="loginform">  
            <div style="color:green">{{message}}</div>  
            <table>  
                <tr>  
                    <td>User Name</td>  
                    <td><input type="text" ng-model="Email" name="Email" /></td>  
                </tr>  
                <tr>  
                    <td>Password</td>  
                    <td><input type="text" ng-model="Password" name="Pin" /></td>  
                </tr>  
                <tr>  
                    <td></td>  
                    <td><input type="submit" ng-click="submit()" /></td>  
                </tr>  
            </table>  
        </form>  
    </div>  
